---
layout: default
---

<div class="home">
	
    <h1>{{ site.subtitle }}</h1>

    <dl id="" class="wp-caption aligncenter" style="max-width: 900px;">
        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr">
            <div>
                <img class="" src="{{ "/_images/a.jpg" | prepend: site.baseurl }}" width=300/>
            </div>
            <div>
                <img class="" src="{{ "/_images/b.png" | prepend: site.baseurl }}" width=300 height=222/>
            </div>
            <div>
                <img class="" src="{{ "/_images/c.jpg" | prepend: site.baseurl }}" width=300 height=222/>
            </div>
        </div>
    </dl>

    {{ site.description }}

</div>
