<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li><strong>{{ site.title }}</strong></li>
			<li>{{ site.jobtitle }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
         <p class="text">
         {{ site.address | newline_to_br  }}
      </div>

      <div class="footer-col  footer-col-3">
          <ul class="social-media-list">
          {% if site.github_username %}
            <li>
                <a href="https://github.com/{{ site.githubdir }}">
                    <i class="fab fa-github" style="color:gray"></i> {{ site.githubdir }}
                </a>
            </li>
          {% endif %}

          {% if site.twitter_username %}
            <li>
                <a href="https://twitter.com/{{ site.twitter_username }}">
                    <i class="fab fa-twitter" style="color:gray"></i> {{ site.twitter_username }}
                </a>
            </li>
          {% endif %}

          {% if site.google_scholar_id %}
            <li>
                <a href="https://scholar.google.com/citations?user={{ site.google_scholar_id }}">
                    <i class="ai ai-google-scholar" style="color:gray"></i> {{ site.google_scholar_id }}
                </a>
            </li>
          {% endif %}

          {% if site.orcid_id %}
            <li>
                <a href="https://orcid.org/{{ site.orcid_id }}">
                    <i class="ai ai-orcid" style="color:gray"></i> {{ site.orcid_id }}
                </a>
            </li>
          {% endif %}

          {% if site.authorurl %}
            <li>
                <a href="{{site.authorurl}}">
                  <i class="fas fa-globe" style="color:gray"></i> 
                  <img src="{{ "/_images/logo.png" | prepend: site.baseurl }}" alt="MERS Logo" width=100>
                </a>
            </li>
          {% endif %}
       
        </ul>
      </div>
    </div>
  </div>

</footer>
