<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
      {% if page.title %}{{ site.title }}: {{ page.title }}{% else %}{{ site.title }}: {{ site.subtitle }}{% endif %}
  </title>
  
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/_css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel='stylesheet' id='open-sans-css'  href='//fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&#038;subset=latin%2Clatin-ext&#038;ver=4.2.4' type='text/css' media='all' />
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:600italic,600,400,400italic' rel='stylesheet' type='text/css'>
  <link rel='shortcut icon' type='image/png' href="{{ "/_images/csail.png" | prepend: site.baseurl }}">

  {% if site.google_author %}
    <link rel="author" href="{{ site.google_author }}"/>
  {% endif %}
  {% if site.google_site_verification %}
    <meta name="google-site-verification" content="{{ site.google_site_verification}}" />
  {% endif %}
  {% if site.bing_webmastertools_id %}
    <meta name="msvalidate.01" content="{{ site.bing_webmastertools_id }}" />
  {% endif %}

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <meta property="og:image" content="http://course-website.svmiller.com/_images/stand-and-deliver-fb.jpg"/>

</head>
