<dl id="" class="wp-caption align{{include.align}}" style="max-width: {{include.width}}px">
    <dt>
        <a href="{{ include.href }}">
            <img class="" src="{{ include.url | prepend: site.baseurl }}" alt="{{ include.caption }}" />
        </a>
    </dt>
    <dd>
        {{ include.caption }}
    </dd>
</dl>
