<ul class="menu">

    <li>
        <a class="page-link" href="{{ site.baseurl }}/">
            <i class="fa fa-home fa-lg"></i>
            Home
        </a>
    </li>

    <li>
        <a class="page-link" href="{{ "/lectures/" | prepend: site.baseurl }}">
            <i class="fas fa-book-reader"></i>
            Lectures
        </a>
    </li>

    <li>
        <a class="page-link" href="{{ "/course-materials/" | prepend: site.baseurl }}">
            <i class="fas fa-book"></i>
            Course Materials
        </a>
    </li>

    <li>
        <a class="page-link" href="{{ site.authorurl }}">
            <i class="fa fa-user fa-lg"></i>
        </a>
    </li> 

</ul>
